In [1]:
import pandas as pd
import numpy as np
cities=pd.read_csv("Data/Living_Index.csv")
nyse=pd.read_csv("Data/NYSE.csv")
nasdaq=pd.read_csv("Data/NASDAQ.csv")
amex=pd.read_csv("Data/AMEX.csv")
stocks=nyse.append(nasdaq,ignore_index=True).append(amex,ignore_index=True)
cities=cities.rename(columns={"Urban Area":"City"})
city_list=[x for x in cities['City']]

In [2]:
salaries = pd.read_json("Data/allcities.json")

In [8]:
salaries.head()

            city     company        jobTitle        meanPay
0     Albany, NY          GE  Data Scientist  $100k - $108k
1  Arlington, TX  State Farm  Data Scientist  $100k - $110k
2  Arlington, TX     Epsilon  Data Scientist  $160k - $173k
3  Arlington, TX       Match  Data Scientist    $79k - $86k
4  Arlington, TX        Hudl  Data Scientist    $86k - $94k

In [33]:
def only_numerics(seq):
    seq = seq.split('-')
    try:
        out = ((int(filter(type(seq[0]).isdigit, seq[0])) + int(filter(type(seq[1]).isdigit, seq[1])))/2)*1000
    except:
        out = int(filter(type(seq[0]).isdigit, seq[0]))
    return out

salaries['meanPay'] = salaries['meanPay'].apply(only_numerics)

In [45]:
salaries = salaries[salaries.jobTitle.str.contains("Intern") == False]
salaries = salaries[salaries.jobTitle.str.contains("Hourly") == False]
salaries['jobTitle'].unique()

array([u'Data Scientist', u'Entry Level Data Scientist',
       u'Senior Data Scientist', u'Junior Data Scientist',
       u'Principal Data Scientist', u'Data Scientist II',
       u'Data Scientist I', u'Associate Data Scientist',
       u'Chief Data Scientist',
       u'Clinical Laboratory Scientist-data Analyst',
       u'Senior Data Scientist/Statistician',
       u'Scientist, Statistical and Data Sciences',
       u'Data Visualization Scientist', u'Staff Data Scientist',
       u'Lead Data Scientist', u'Software Engineer (Data Scientist)'], dtype=object)

In [9]:
dropped = salaries.drop_duplicates(['company', 'jobTitle', 'meanPay'])

In [16]:
cities = salaries['city'].unique()

In [17]:
for city in cities:
    city = salaries[salaries[city]]

KeyError: u'Albany, NY'