In [161]:
import pandas as pd
import numpy as np
cities=pd.read_csv("Data/Living_Index.csv")
nyse=pd.read_csv("Data/NYSE.csv")
nasdaq=pd.read_csv("Data/NASDAQ.csv")
amex=pd.read_csv("Data/AMEX.csv")
stocks=nyse.append(nasdaq,ignore_index=True).append(amex,ignore_index=True)
cities=cities.rename(columns={"Urban Area":"City"})
city_list=[x for x in cities['City']]

In [162]:
salaries = pd.read_json("Data/allcities.json")

In [163]:
len(salaries)

1546

In [164]:
def only_numerics(seq):
    seq = seq.split('-')
    try:
        out = ((int(filter(type(seq[0]).isdigit, seq[0])) + int(filter(type(seq[1]).isdigit, seq[1])))/2)*1000
    except:
        out = int(filter(type(seq[0]).isdigit, seq[0]))
    return out

salaries['meanPay'] = salaries['meanPay'].apply(only_numerics)

In [165]:
salaries = salaries[salaries.jobTitle.str.contains("Intern") == False]
salaries = salaries[salaries.jobTitle.str.contains("Hourly") == False]
salaries['jobTitle'].unique()

array([u'Data Scientist', u'Entry Level Data Scientist',
       u'Senior Data Scientist', u'Junior Data Scientist',
       u'Principal Data Scientist', u'Data Scientist II',
       u'Data Scientist I', u'Associate Data Scientist',
       u'Chief Data Scientist',
       u'Clinical Laboratory Scientist-data Analyst',
       u'Senior Data Scientist/Statistician',
       u'Scientist, Statistical and Data Sciences',
       u'Data Visualization Scientist', u'Staff Data Scientist',
       u'Lead Data Scientist', u'Software Engineer (Data Scientist)'], dtype=object)

In [166]:
salaries['state'] = salaries.city.apply(lambda x: x[-2:])
salaries.head()

            city     company        jobTitle  meanPay state
0     Albany, NY          GE  Data Scientist   104000    NY
1  Arlington, TX  State Farm  Data Scientist   105000    TX
2  Arlington, TX     Epsilon  Data Scientist   166000    TX
3  Arlington, TX       Match  Data Scientist    82000    TX
4  Arlington, TX        Hudl  Data Scientist    90000    TX

Remove duplicates:

In [167]:
cities = salaries.groupby(['city', 'state'])['city'].count().to_frame()

In [168]:
cities.rename(columns={'city': 'count'}, inplace=True)
cities.reset_index(inplace=True)

In [169]:
cities['duplicated'] = cities.duplicated(['count', 'state'], keep=False)

In [170]:
cities[cities['duplicated']==True].sort_values(by=['state','count'])

                 city state  count duplicated
55        Oakland, CA    CA    134       True
75  San Francisco, CA    CA    134       True
9       Bradenton, FL    FL      1       True
78       Sarasota, FL    FL      1       True
2         Atlanta, GA    GA     42       True
48       Marietta, GA    GA     42       True
6     Baton Rouge, LA    LA      2       True
36        Hammond, LA    LA      2       True
45      Lafayette, LA    LA      2       True
50    Minneapolis, MN    MN     11       True
82       St. Paul, MN    MN     11       True
12    Chapel Hill, NC    NC     15       True
29         Durham, NC    NC     15       True
65        Raleigh, NC    NC     15       True
46     Las Cruces, NM    NM      1       True
67     Rio Rancho, NM    NM      1       True
0          Albany, NY    NY      1       True
10        Buffalo, NY    NY      1       True
85       Syracuse, NY    NY      1       True
16     Cincinnati, OH    OH      5       True
17      Cleveland, OH    OH      5       True
11         Camden, SC    SC      1       True
19       Columbia, SC    SC      1       True
84         Sumter, SC    SC      1       True
44      Knoxville, TN    TN      2       True
52     Morristown, TN    TN      2       True
73    San Antonio, TX    TX      3       True
80         Seguin, TX    TX      3       True
21         Conroe, TX    TX     16       True
40        Houston, TX    TX     16       True
3          Austin, TX    TX     26       True
70     Round Rock, TX    TX     26       True
77     San Marcos, TX    TX     26       True
1       Arlington, TX    TX     39       True
24         Dallas, TX    TX     39       True
34     Fort Worth, TX    TX     39       True
61          Plano, TX    TX     39       True
89    Weatherford, TX    TX     39       True
30        Everett, WA    WA     45       True
79        Seattle, WA    WA     45       True
86         Tacoma, WA    WA     45       True

In [171]:
# What to remove:
removables = ['Everett, WA', 'Tacoma, WA', 'Weatherford, TX', 'Plano, TX', 'Fort Worth, TX', 'Arlington, TX', 'San Marcos, TX', 'Round Rock, TX', 'Conroe, TX', 'Seguin, TX', 'Morristown, TN', 'Sumter, SC', 'Camden, SC', 'Durham, NC', 'Chapel Hill, NC', 'St. Paul, MN', 'Hammond, LA', 'Marietta, GA', 'Bradenton, FL', 'Oakland, CA']

In [172]:
salaries = salaries[~salaries['city'].isin(removables)]
salaries.reset_index(inplace=True)
del salaries['index']

,city,company,jobTitle,meanPay,state
0,"Albany, NY",GE,Data Scientist,104000,NY
1,"Atlanta, GA",CareerBuilder,Data Scientist,86172,GA
2,"Atlanta, GA",NCR,Data Scientist,89000,GA
3,"Atlanta, GA",The Home Depot,Data Scientist,97000,GA
4,"Atlanta, GA",Feedzai,Data Scientist,90000,GA
5,"Atlanta, GA",IBM,Data Scientist,104000,GA
6,"Atlanta, GA",Booz Allen Hamilton,Data Scientist,75000,GA
7,"Atlanta, GA",PwC,Data Scientist,99000,GA
8,"Atlanta, GA",Cognizant Technology Solutions,Data Scientist,90000,GA
9,"Atlanta, GA",Rang Technologies,Data Scientist,100000,GA
10,"Atlanta, GA",KPMG,Data Scientist,93000,GA
11,"Atlanta, GA",Gallup,Data Scientist,84000,GA
12,"Atlanta, GA",Hewlett Packard Enterprise | HPE,Data Scientist,94000,GA
13,"Atlanta, GA",Verizon,Data Scientist,108000,GA
14,"Atlanta, GA",Verizon Wireless,Data Scientist,99000,GA
15,"Atlanta, GA",Fractal Analytics,Data Scientist,85000,GA
16,"Atlanta, GA",Equifax,Data Scientist,93000,GA
17,"Atlanta, GA",Northrop Grumman,Data Scientist,96000,GA
18,"Atlanta, GA",ADP,Data Scientist,88000,GA
19,"Atlanta, GA",Kabbage,Data Scientist,93000,GA
20,"Atlanta, GA",Citi,Data Scientist,94000,GA
21,"Atlanta, GA",Honeywell,Data Scientist,101000,GA
22,"Atlanta, GA",Intuitive Surgical,Data Scientist,111000,GA
23,"Atlanta, GA",AT&T,Data Scientist,108000,GA
24,"Atlanta, GA",Cox Enterprises,Data Scientist,96000,GA
25,"Atlanta, GA",Hearst,Data Scientist,95000,GA
26,"Atlanta, GA",Macy's,Data Scientist,89000,GA
27,"Atlanta, GA",Bank of America,Data Scientist,95000,GA
28,"Atlanta, GA",IBM,Entry Level Data Scientist,92000,GA
29,"Atlanta, GA",IBM,Senior Data Scientist,118000,GA
...,...,...,...,...,...
931,"Vancouver, WA",GitHub,Data Scientist,113000,WA
932,"Vancouver, WA",CNA,Data Scientist,106000,WA
933,"Vancouver, WA",comScore,Data Scientist,101000,WA
934,"Vancouver, WA",Intel Corporation,Senior Data Scientist,128000,WA
935,"Vancouver, WA",Market Strategies International,Senior Data Scientist,97000,WA
936,"Vancouver, WA",McAfee,Senior Data Scientist,126000,WA
937,"Wichita, KS",Cargill,Data Scientist,99000,KS
938,"Wilmington, DE",Assero Services,Data Scientist,40000,DE
939,"Wilmington, DE",Booz Allen Hamilton,Data Scientist,95000,DE
940,"Wilmington, DE",Comcast,Data Scientist,71000,DE
941,"Wilmington, DE",Chubb,Data Scientist,104000,DE
942,"Wilmington, DE",IBM,Data Scientist,107000,DE
943,"Wilmington, DE",Capital One,Data Scientist,111000,DE
944,"Wilmington, DE",PwC,Data Scientist,101000,DE
945,"Wilmington, DE",Cognizant Technology Solutions,Data Scientist,94000,DE
946,"Wilmington, DE",KPMG,Data Scientist,95000,DE
947,"Wilmington, DE",Lockheed Martin,Data Scientist,99000,DE
948,"Wilmington, DE",QuintilesIMS,Data Scientist,98000,DE
949,"Wilmington, DE",DuPont,Data Scientist,120000,DE
950,"Wilmington, DE",Morgan Stanley,Data Scientist,100000,DE
951,"Wilmington, DE",PRA Health Sciences,Data Scientist,97000,DE
952,"Wilmington, DE",IBM,Entry Level Data Scientist,96000,DE
953,"Wilmington, DE",Comcast,Senior Data Scientist,140000,DE
954,"Wilmington, DE",KPMG,Senior Data Scientist,108000,DE
955,"Wilmington, DE",Capital One,Senior Data Scientist,124000,DE
956,"Wilmington, DE",SAP,Senior Data Scientist,97000,DE
957,"Wilmington, DE",Capital One,Principal Data Scientist,138000,DE
958,"Wilmington, DE",Thomson Reuters,Principal Data Scientist,122000,DE
959,"Wilmington, DE",Comcast,Principal Data Scientist,126000,DE
960,"Wilmington, DE",Ascensus,Associate Data Scientist,75000,DE

Remove state name from city

In [173]:
salaries['city'] = salaries.city.apply(lambda x: x[:-4])

,city,company,jobTitle,meanPay,state
0,Albany,GE,Data Scientist,104000,NY
1,Atlanta,CareerBuilder,Data Scientist,86172,GA
2,Atlanta,NCR,Data Scientist,89000,GA
3,Atlanta,The Home Depot,Data Scientist,97000,GA
4,Atlanta,Feedzai,Data Scientist,90000,GA
5,Atlanta,IBM,Data Scientist,104000,GA
6,Atlanta,Booz Allen Hamilton,Data Scientist,75000,GA
7,Atlanta,PwC,Data Scientist,99000,GA
8,Atlanta,Cognizant Technology Solutions,Data Scientist,90000,GA
9,Atlanta,Rang Technologies,Data Scientist,100000,GA
10,Atlanta,KPMG,Data Scientist,93000,GA
11,Atlanta,Gallup,Data Scientist,84000,GA
12,Atlanta,Hewlett Packard Enterprise | HPE,Data Scientist,94000,GA
13,Atlanta,Verizon,Data Scientist,108000,GA
14,Atlanta,Verizon Wireless,Data Scientist,99000,GA
15,Atlanta,Fractal Analytics,Data Scientist,85000,GA
16,Atlanta,Equifax,Data Scientist,93000,GA
17,Atlanta,Northrop Grumman,Data Scientist,96000,GA
18,Atlanta,ADP,Data Scientist,88000,GA
19,Atlanta,Kabbage,Data Scientist,93000,GA
20,Atlanta,Citi,Data Scientist,94000,GA
21,Atlanta,Honeywell,Data Scientist,101000,GA
22,Atlanta,Intuitive Surgical,Data Scientist,111000,GA
23,Atlanta,AT&T,Data Scientist,108000,GA
24,Atlanta,Cox Enterprises,Data Scientist,96000,GA
25,Atlanta,Hearst,Data Scientist,95000,GA
26,Atlanta,Macy's,Data Scientist,89000,GA
27,Atlanta,Bank of America,Data Scientist,95000,GA
28,Atlanta,IBM,Entry Level Data Scientist,92000,GA
29,Atlanta,IBM,Senior Data Scientist,118000,GA
...,...,...,...,...,...
931,Vancouver,GitHub,Data Scientist,113000,WA
932,Vancouver,CNA,Data Scientist,106000,WA
933,Vancouver,comScore,Data Scientist,101000,WA
934,Vancouver,Intel Corporation,Senior Data Scientist,128000,WA
935,Vancouver,Market Strategies International,Senior Data Scientist,97000,WA
936,Vancouver,McAfee,Senior Data Scientist,126000,WA
937,Wichita,Cargill,Data Scientist,99000,KS
938,Wilmington,Assero Services,Data Scientist,40000,DE
939,Wilmington,Booz Allen Hamilton,Data Scientist,95000,DE
940,Wilmington,Comcast,Data Scientist,71000,DE
941,Wilmington,Chubb,Data Scientist,104000,DE
942,Wilmington,IBM,Data Scientist,107000,DE
943,Wilmington,Capital One,Data Scientist,111000,DE
944,Wilmington,PwC,Data Scientist,101000,DE
945,Wilmington,Cognizant Technology Solutions,Data Scientist,94000,DE
946,Wilmington,KPMG,Data Scientist,95000,DE
947,Wilmington,Lockheed Martin,Data Scientist,99000,DE
948,Wilmington,QuintilesIMS,Data Scientist,98000,DE
949,Wilmington,DuPont,Data Scientist,120000,DE
950,Wilmington,Morgan Stanley,Data Scientist,100000,DE
951,Wilmington,PRA Health Sciences,Data Scientist,97000,DE
952,Wilmington,IBM,Entry Level Data Scientist,96000,DE
953,Wilmington,Comcast,Senior Data Scientist,140000,DE
954,Wilmington,KPMG,Senior Data Scientist,108000,DE
955,Wilmington,Capital One,Senior Data Scientist,124000,DE
956,Wilmington,SAP,Senior Data Scientist,97000,DE
957,Wilmington,Capital One,Principal Data Scientist,138000,DE
958,Wilmington,Thomson Reuters,Principal Data Scientist,122000,DE
959,Wilmington,Comcast,Principal Data Scientist,126000,DE
960,Wilmington,Ascensus,Associate Data Scientist,75000,DE

Rearrange state to be next to city

In [197]:
cols = ['city', 'state', 'company', 'jobTitle', 'meanPay']
salaries = salaries[cols]
salaries

,city,state,company,jobTitle,meanPay
0,Albany,NY,GE,Data Scientist,104000
1,Atlanta,GA,CareerBuilder,Data Scientist,86172
2,Atlanta,GA,NCR,Data Scientist,89000
3,Atlanta,GA,The Home Depot,Data Scientist,97000
4,Atlanta,GA,Feedzai,Data Scientist,90000
5,Atlanta,GA,IBM,Data Scientist,104000
6,Atlanta,GA,Booz Allen Hamilton,Data Scientist,75000
7,Atlanta,GA,PwC,Data Scientist,99000
8,Atlanta,GA,Cognizant Technology Solutions,Data Scientist,90000
9,Atlanta,GA,Rang Technologies,Data Scientist,100000
10,Atlanta,GA,KPMG,Data Scientist,93000
11,Atlanta,GA,Gallup,Data Scientist,84000
12,Atlanta,GA,Hewlett Packard Enterprise | HPE,Data Scientist,94000
13,Atlanta,GA,Verizon,Data Scientist,108000
14,Atlanta,GA,Verizon Wireless,Data Scientist,99000
15,Atlanta,GA,Fractal Analytics,Data Scientist,85000
16,Atlanta,GA,Equifax,Data Scientist,93000
17,Atlanta,GA,Northrop Grumman,Data Scientist,96000
18,Atlanta,GA,ADP,Data Scientist,88000
19,Atlanta,GA,Kabbage,Data Scientist,93000
20,Atlanta,GA,Citi,Data Scientist,94000
21,Atlanta,GA,Honeywell,Data Scientist,101000
22,Atlanta,GA,Intuitive Surgical,Data Scientist,111000
23,Atlanta,GA,AT&T,Data Scientist,108000
24,Atlanta,GA,Cox Enterprises,Data Scientist,96000
25,Atlanta,GA,Hearst,Data Scientist,95000
26,Atlanta,GA,Macy's,Data Scientist,89000
27,Atlanta,GA,Bank of America,Data Scientist,95000
28,Atlanta,GA,IBM,Entry Level Data Scientist,92000
29,Atlanta,GA,IBM,Senior Data Scientist,118000
...,...,...,...,...,...
931,Vancouver,WA,GitHub,Data Scientist,113000
932,Vancouver,WA,CNA,Data Scientist,106000
933,Vancouver,WA,comScore,Data Scientist,101000
934,Vancouver,WA,Intel Corporation,Senior Data Scientist,128000
935,Vancouver,WA,Market Strategies International,Senior Data Scientist,97000
936,Vancouver,WA,McAfee,Senior Data Scientist,126000
937,Wichita,KS,Cargill,Data Scientist,99000
938,Wilmington,DE,Assero Services,Data Scientist,40000
939,Wilmington,DE,Booz Allen Hamilton,Data Scientist,95000
940,Wilmington,DE,Comcast,Data Scientist,71000
941,Wilmington,DE,Chubb,Data Scientist,104000
942,Wilmington,DE,IBM,Data Scientist,107000
943,Wilmington,DE,Capital One,Data Scientist,111000
944,Wilmington,DE,PwC,Data Scientist,101000
945,Wilmington,DE,Cognizant Technology Solutions,Data Scientist,94000
946,Wilmington,DE,KPMG,Data Scientist,95000
947,Wilmington,DE,Lockheed Martin,Data Scientist,99000
948,Wilmington,DE,QuintilesIMS,Data Scientist,98000
949,Wilmington,DE,DuPont,Data Scientist,120000
950,Wilmington,DE,Morgan Stanley,Data Scientist,100000
951,Wilmington,DE,PRA Health Sciences,Data Scientist,97000
952,Wilmington,DE,IBM,Entry Level Data Scientist,96000
953,Wilmington,DE,Comcast,Senior Data Scientist,140000
954,Wilmington,DE,KPMG,Senior Data Scientist,108000
955,Wilmington,DE,Capital One,Senior Data Scientist,124000
956,Wilmington,DE,SAP,Senior Data Scientist,97000
957,Wilmington,DE,Capital One,Principal Data Scientist,138000
958,Wilmington,DE,Thomson Reuters,Principal Data Scientist,122000
959,Wilmington,DE,Comcast,Principal Data Scientist,126000
960,Wilmington,DE,Ascensus,Associate Data Scientist,75000