In [1]:
import pandas as pd
import numpy as np
cities=pd.read_csv("Data/Living_Index.csv")
nyse=pd.read_csv("Data/NYSE.csv")
nasdaq=pd.read_csv("Data/NASDAQ.csv")
amex=pd.read_csv("Data/AMEX.csv")
stocks=nyse.append(nasdaq,ignore_index=True).append(amex,ignore_index=True)
cities=cities.rename(columns={"Urban Area":"City"})
city_list=[x for x in cities['City']]

In [2]:
salaries = pd.read_json("Data/allcities.json")

In [3]:
str(salaries['meanPay']).split('-')[0][9]

'1'