# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Flash lesson: lambda functions
Week 3 | Lesson 4.1

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*
- Write and apply one-line **lambda functions**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Lambda

Lambda is a tool for building functions. We already know how to build functions
using def, but let's do a quick comparison of the two.

Here's building a function using def:
```Python
def square_root(x): return x ** .5
```

Here's building the same function using lambda
```Python
square_root_lambda = lambda x: x ** .5
```

In [2]:
def square_root(x): 
    return x** .5

square_root_lambda = lambda x: x ** .5

In [5]:
square_root(2)

1.4142135623730951

In [4]:
square_root_lambda(2)

1.4142135623730951

### Quck check
Write a normal function to calculate the area of a rectangle.

Then, re-write that function as a lambda function.

In [5]:
#Function here
def area(x, y):
    return x*y
    
    
#Lambda function here:
area_lambda = lambda x,y: x*y

# Test them out!
print area(4,5), area_lambda(4,5)

20 20

### Lambdas are 'anonymous functions'
Lambda functions are useful when you have an operation that your code only calls once.

Some things to remember about lambda:
- it does not contain a return statement
- it is not a named function
- it is a tool for creating anonymous procedures
- it only takes a single expression (so, no loops or if statements)

More information on [Lambda](https://pythonconquerstheuniverse.wordpress.com/2011/08/29/lambda_tutorial/).

For example, in this code:
```Python
def _range(x):
    return np.max(x) - np.min(x)
    
df.pivot_table(index='A', aggfunc = (np.mean, _range))
```


You can replace the `_range` function with a lambda:

```Python
df.pivot_table(index='A', aggfunc = (np.mean, lambda x: np.max(x) - np.min(x)))
```

In [22]:
df = pd.DataFrame(np.random.randint(0,100,size=(8, 4)), columns=list('ABCD'))
df2 = pd.DataFrame([x for x in range(0,2)]*4, columns=['Group'])
df = pd.concat([df, df2], axis = 1)
df

    A   B   C   D  Group
0   0  15  77  95      0
1  38  23  82  47      1
2  56  90   0  58      0
3  57  41   4  24      1
4   9   7  99  67      0
5  77  97  78  45      1
6  28  81  11  92      0
7  61  23  34  58      1

In [23]:
df = df.applymap(lambda x: x*2)
df.head()

     A    B    C    D  Group
0    0   30  154  190      0
1   76   46  164   94      2
2  112  180    0  116      0
3  114   82    8   48      2
4   18   14  198  134      0

In [24]:
def _range(x):
    return np.max(x) - np.min(x)

df.pivot_table(index = 'Group', aggfunc = (np.mean, _range))

           A            B            C           D
        mean _range  mean _range  mean _range mean _range
Group
0       46.5    112  96.5    166  93.5    198  156     74
2      116.5     78  92.0    148  99.0    156   87     68

In [9]:
df.pivot_table(index='Group', aggfunc = (np.mean, lambda x: np.max(x) - np.min(x)))

         A               B               C              D
      mean <lambda>   mean <lambda>   mean <lambda>  mean <lambda>
Group
0       89      152  100.0      120  122.5      110  78.5      106
2       44        6   83.5      174   69.5      144  86.5      116

### Independent practice
Practice writing a few lambda functions and applying them to this dataframe

In [28]:
df.pivot_table(index='Group', aggfunc = (lambda x: len([i for i in x if i > 100])))

       A  B  C  D
Group
0      1  2  2  4
2      3  1  2  1

In [27]:
# Problem 1: apply a lambda function that gives the square root of every element
df.applymap(lambda x: np.sqrt(x))

# Problem 2: apply a lambda function that returns 'skewed' for each column if the difference between
# its mean and median is more than 10% of its standard deviation, otherwise return 'normalish'
df.apply(lambda x: 'skewed' if np.absolute(np.median(x) - np.mean(x)) > 0.1*(np.std(x)) else 'normalish')

# Problem 3: create a pivot table, indexed on 'Group', with a lambda aggfunc that returns 
# the number of group elements greater than 100
df.pivot_table(index='Group', aggfunc = (lambda x: len([i for i in x if i > 100])))

A           skewed
B           skewed
C           skewed
D           skewed
Group    normalish
dtype: object